---
import { humanize } from "@/lib/utils/textConverter";
import ChatbotModal from "../../components/ChatbotModal.jsx";
const { tags, categories, allCategories } = Astro.props;
---

<div class="lg:col-4">
  <!-- categories -->
  <div class="mb-8">
    <h5 class="mb-6">Categorías</h5>
    <div class="rounded bg-theme-light p-8 dark:bg-darkmode-theme-light">
      <ul class="space-y-4">
        {
          categories.map((category: any) => {
            const count = allCategories.filter(
              (c: any) => c === category
            ).length;
            return (
              <li>
                <a
                  class="flex justify-between hover:text-primary dark:hover:text-darkmode-primary"
                  href={`/categories/${category}`}
                >
                  {humanize(category)} <span>({count})</span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
  <ChatbotModal client:only="react" />
  <div class="rounded bg-theme-light p-8 dark:bg-darkmode-theme-light" style="text-align: center; margin-bottom: 20px;">
    <span style="font-family: Signika, sans-serif; font-weight: 700;">Curious about a project or have specific questions?</span>
    <br>
    <br>
    <button id="openAIChatBtn" class="btn btn-outline-primary inline-flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
      </svg>
      Consultar a la IA
    </button>
  </div>
</div>

